.limited-list {
    max-height: 300px; /* Adjust this value as needed */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.limited-list.expanded {
    max-height: none;
}

.view-more {
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-more:hover {
    background-color: var(--secondary-color);
}

.view-more.hidden {
    display: none;
}
