#dashboard-main-content {
    margin-left: var(--sidebar-collapsed-width);
    width: calc(100% - var(--sidebar-collapsed-width));
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    overflow-x: hidden;
}


body:has(.sidebar:hover) #dashboard-main-content {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
}